@using Biblioteca2.Models.DTO
@model Biblioteca2.Models.Emprestimo
@{
    ViewData["Title"] = "Empréstimo - Detalhes";
    DTO_Livro livro = new DTO_Livro() { EmprestimoId = Model.Id, LivroId = 0, Quantidade = 1, Livros = ViewBag.Livros };
}
<div class="border-bottom mt-4 mb-2">
    <h2><i class="fa fa-book text-danger"></i> @ViewBag.Title</h2>
</div>
<dl>
    <dt>@Html.DisplayNameFor(model => model.DataEmprestimo)</dt>
    <dd>@Html.DisplayFor(model => model.DataEmprestimo)</dd>
    <dt>@Html.DisplayNameFor(model => model.DataDevolucaoPrevista)</dt>
    <dd>@Html.DisplayFor(model => model.DataDevolucaoPrevista)</dd>
    <dt>@Html.DisplayNameFor(model => model.DataDevolucaoReal)</dt>
    <dd>@Html.DisplayFor(model => model.DataDevolucaoReal)</dd>
    <dt>@Html.DisplayNameFor(model => model.UtilizadorId)</dt>
    <dd>@Html.DisplayFor(model => model.Utilizador.Nome)</dd>
    <dt>@Html.DisplayNameFor(model => model.EstadoId)</dt>
    <dd>@Html.DisplayFor(model => model.Estado.Nome)</dd>
    <dt>@Html.DisplayNameFor(model => model.EmprestimoLivros) <button type="button" class="btn btn-xs btn-default" data-bs-toggle="modal" data-bs-target="#addLivroModal"><i class="fa fa-plus"></i></button></dt>
    <dd>
        <div class="row row-cols-4 g-1 mt-1">
            @foreach (var item in Model.EmprestimoLivros.OrderBy(x => x.Livro.Titulo))
            {
                <div class="col">
                    <div class="border rounded-2 p-1">
                        <i class="fa fa-book" title="Título do Livro"></i> @item.Livro.Titulo [<i class="fa fa-bookmark-o" title="Quantidade emprestada"></i> @item.Quantidade]
                        <a asp-action="_ApagarLivro" asp-route-emprestimoid = "@Model.Id" asp-route-livroid = "@item.LivroId" class="float-end icon-link" title="Remover livro do empréstimo"><i class="btn-close"></i></a>
                    </div>
                </div>
            }
        </div>
    </dd>
</dl>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm" title="Editar"><i class="fa fa-pencil"></i> <small>Editar</small></a>
    <a asp-action="Index" class="btn btn-default btn-sm" title="Voltar à Lista"><i class="fa fa-list"></i> <small>Voltar à Lista</small></a>
</p>
<partial name="_AdicionarLivro" model="livro" />
<partial name="_ToastStatus" />
@section Scripts {
    <script>
        $('document').ready(function () {
            $(".toast").toast('show');
        });
    </script>
}
