@model IEnumerable<Biblioteca2.Models.EmprestimoEstado>
@{
    ViewData["Title"] = "Lista de Estados de Empréstimo";
    string q = ViewData["q"]?.ToString() ?? "";
}
<div class="border-bottom pt-4 pb-2 mb-3">
    <h2><i class="fa fa-bookmark-o text-danger"></i> @ViewBag.Title</h2>
</div>
<a asp-action="Create" class="btn btn-default btn-sm" title="Criar Novo"><i class="fa fa-plus"></i></a>
@if (Model.Count() > 0)
{
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-xs" title="Editar"><i class="fa fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-default btn-xs" title="Ver detalhes"><i class="fa fa-eye"></i></a>
                        @if (item.Emprestimos.Count == 0)
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-xs" title="Apagar"><i class="fa fa-trash-o"></i></a>
                        }
                        else
                        {
                            <span class="btn btn-default btn-xs" title="[Não é possível apagar o registo]"><i class="fa fa-times disabled text-danger"></i></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4><i class="fa fa-info-circle"></i> Informação</h4>
    <p>Não existem neste momento elementos para representar.</p>
}
<partial name="_ToastStatus" />
@section Scripts {
    <script>
        $('document').ready(function () {
            $(".toast").toast('show');
        });
    </script>
}
