@model Biblioteca2.Models.Autor
@{
    ViewData["Title"] = "Autor - Detalhes";
}
<div class="border-bottom mt-4 mb-2">
    <h2><i class="fa fa-user-o text-danger"></i> @ViewBag.Title</h2>
</div>
<dl>
    <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
    <dd>@Html.DisplayFor(model => model.Nome)</dd>
    <dt>@Html.DisplayNameFor(model => model.Bibliografia)</dt>
    <dd>@Html.DisplayFor(model => model.Bibliografia)</dd>
    <dt>@Html.DisplayNameFor(model => model.DataNascimento)</dt>
    <dd>@Html.DisplayFor(model => model.DataNascimento)</dd>
    <dt>@Html.DisplayNameFor(model => model.DataMorte)</dt>
    <dd>@Html.DisplayFor(model => model.DataMorte)</dd>
</dl>
<p>
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary btn-sm" title="Editar"><i class="fa fa-pencil"></i> <small>Editar</small></a>
    <a href="@Url.Action("Index")" class="btn btn-default btn-sm" title="Voltar à Lista"><i class="fa fa-list"></i> <small>Voltar à Lista</small></a>
</p>
@if (Model.LivroAutors.Count > 0)
{
    <div class="border-bottom mt-4 mb-2">
        <h4><i class=" fa fa-book text-danger"></i> Lista de livros deste Autor (@Model.LivroAutors.Count)</h4>
    </div>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LivroAutors.First().Livro.Titulo)</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model.LivroAutors)
        {
            <tr>
                <td>@item.Livro.Titulo</td>
                <td class="text-end">
                    <a href="@Url.Action("Details", "Livros", new { id = item.Livro.Id })" class="btn btn-default btn-xs"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h6><i class="fa fa-info-circle text-info"></i> Não há livros deste autor.</h6>
}
