@model X.PagedList.IPagedList<Autor>
@using Biblioteca2.Models;
@using X.PagedList;
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Lista de Autores";
    string q = ViewData["q"]?.ToString() ?? "";
}
<div class="border-bottom pt-4 pb-2 mb-3">
    <div class="row">
        <div class=" col-md-7">
            <h2><i class="fa fa-user-o text-danger"></i> @ViewBag.Title</h2>
        </div>
        <div class=" col-md-5">
            <form method="get" asp-action="Index">
                <input type="hidden" name="page" value="1" />
                <div class="row">
                    <div class="col-10">
                        <div class="form-floating">
                            <input id="q" class="form-control form-control-sm" type="text" name="q" value="@q" />
                            <label for="q">Insira o nome (ou parte do nome) ao autor</label>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button type="submit" class="btn btn-default btn-sm" title="Filtrar"><i class="fa fa-search small"></i></button>
                        <a asp-action="Index" class="btn btn-default btn-sm" title="Limpar o filtro"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-sm-1">
            <a asp-action="Create" class="btn btn-default btn-sm" title="Criar Novo"><i class="fa fa-plus"></i></a>
        </div>
        <div class="col-sm-3 small">
            @Html.Raw(String.Format("Página: {0} de {1}", (Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), Model.PageCount))<br />
            @Html.Raw(String.Format("Entradas: {0}-{1} de {2}", (Model.PageNumber - 1) * Model.PageSize + 1, (Model.TotalItemCount > Model.PageNumber * Model.PageSize ? Model.PageNumber * Model.PageSize : Model.TotalItemCount), Model.TotalItemCount.ToString("N0")))
        </div>
        <div class="col-sm-8 small">
            @if (Model.PageCount > 1)
            {
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, q }), new PagedListRenderOptions { LinkToFirstPageFormat = "&#8676;", LinkToPreviousPageFormat = "&#8592;", DisplayLinkToPreviousPage = PagedListDisplayMode.Never, LinkToNextPageFormat = "&#8594;", DisplayLinkToNextPage = PagedListDisplayMode.Never, LinkToLastPageFormat = "&#8677;", ContainerDivClasses = new[] { "pagination justify-content-end small" }, LiElementClasses = new[] { "page-item" }, PageClasses = new[] { "page-link small" }, EllipsesElementClass = "", MaximumPageNumbersToDisplay = 6 })
            }
        </div>
    </div>
    <table class="table table-striped table-sm align-middle mt-2">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Bibliografia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().DataMorte)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bibliografia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataMorte)
                    </td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-xs" title="Editar"><i class="fa fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-default btn-xs" title="Ver detalhes"><i class="fa fa-eye"></i></a>
                        @if (item.LivroAutors.Count == 0)
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-xs" title="Apagar"><i class="fa fa-trash-o"></i></a>
                        }
                        else
                        {
                            <span class="btn btn-default btn-xs" title="[Não é possível apagar o registo]"><i class="fa fa-times disabled text-danger"></i></span>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <a asp-action="Create" class="btn btn-default btn-sm" title="Criar Novo"><i class="fa fa-plus"></i></a>
    <h4><i class="fa fa-info-circle"></i> Informação</h4>
    <p>Não existem neste momento elementos para representar.</p>
}
<p class="small" title="Tempo de criação da página"><i class="fa fa-clock-o"></i> @ViewBag.ElapsedMilliseconds.ToString("N0") ms</p>
<partial name="_ToastStatus" />
@section Scripts {
    <script>
        $('document').ready(function () {
            $(".toast").toast('show');
        });
    </script>
}
