@model Biblioteca2.Models.Utilizador
@{
    ViewData["Title"] = "Utilizador - Detalhes";
}
<div class="border-bottom mt-4 mb-2">
    <h2><i class="fa fa-user-o text-danger"></i> @ViewBag.Title</h2>
</div>
<dl>
    <dt>@Html.DisplayNameFor(model => model.Nome)</dt> 
    <dd>@Html.DisplayFor(model => model.Nome) </dd> 
    <dt>@Html.DisplayNameFor(model => model.Morada)</dt> 
    <dd>@Html.DisplayFor(model => model.Morada) </dd> 
    <dt>@Html.DisplayNameFor(model => model.Telefone)</dt> 
    <dd>@Html.DisplayFor(model => model.Telefone) </dd> 
    <dt>@Html.DisplayNameFor(model => model.Email)</dt> 
    <dd>@Html.DisplayFor(model => model.Email) </dd> 
    <dt>@Html.DisplayNameFor(model => model.DataNascimento)</dt> 
    <dd>@Html.DisplayFor(model => model.DataNascimento) </dd> 
    <dt>@Html.DisplayNameFor(model => model.Sexo)</dt> 
    <dd>@Html.DisplayFor(model => model.Sexo) </dd>
</dl>
<p>
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary btn-sm" title="Editar"><i class="fa fa-pencil"></i> <small>Editar</small></a>
    <a href="@Url.Action("Index")" class="btn btn-default btn-sm" title="Voltar à Lista"><i class="fa fa-list"></i> <small>Voltar à Lista</small></a>
</p>
